<template>
<div>
  <div id="homeUser" v-if="user">
    {{user.username}}
  </div>


  <div id="auth" v-else>
    <div class="isAuth">{{isAuth}}</div>
    <div class="isClient">{{isClient}}</div>
    <div class="user">{{current}}</div>
  </div>
  <button id="logout" type="button" @click="onClickLogout()" v-if="user">logout</button>
  <router-link to="/login" v-else>login</router-link>
  <br>
  <router-link to="/secret">secret</router-link>
</div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters.user
    },

    isAuth() {
      return this.$store.getters['$auth/isAuth']
    },

    isClient() {
      return this.$store.getters['$auth/isClient']
    },

    current() {
      return this.$store.getters['$auth/user']
    },
  },

  methods: {
    onClickLogout() {
      this.$auth.logout
    },
  },
}
</script>
