<template>
  <div id="login">
    <div id="error" v-if="hasError">error</div>

    <div id="form" v-if="!user || !user.id">
      <input type="text" id="username" v-model="username">
      <input type="password" id="password" v-model="password">
      <button id="loginButton" type="button" @click="login">login</button>
    </div>

    <div id="user" v-else>
      {{user.username}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',

  data() {
    return {
      username: '',
      password: '',
      hasError: false,
    };
  },


  computed: {
    user() {
      return this.$store.getters.user
    },
  },


  methods: {
    login() {
      const { username, password } = this
      this.$auth.login({ username, password })
        // .then(() => this.$auth.fetchUser())
    },
  },

  mounted() {
    this.$auth.on('error', (data, topic) => {
      console.log('init', data, topic)
      if (topic === 'login') {
        this.hasError = true;
      }
    });
  },

  beforeDestroy() {
    this.hasError = false;
  },
}
</script>

<style></style>

