<template>
  <div id="secret_container">
    <div id="secret">
      secret
    </div>
    <button id="logout" type="button" @click="onClickLogout()">logout</button>
    <br>
    <router-link to="/">index</router-link>
  </div>
</template>


<script>
export default {
  name: 'Secret',

  middleware: ['authenticate'],


  methods: {
    onClickLogout() {
      this.$auth.logout()
    },
  },
}
</script>


<style></style>

