<template>
  <div id="example">
    <p>{{msg}}</p>
    <button id="toggle-message" type="button" @click="onClick()">
      click
    </button>
  </div></template>


<script>
export default {
  name: 'MessageToggle',

  data() {
    return {};
  },



  computed: {
  },



  methods: {
    onClick() {
      if (!this.msg) {
        this.msg = 'message';
      } else if (this.msg === 'message') {
        this.msg = 'toggled message';
      } else {
        this.msg = '';
      }
    },
  },

};
</script>


<style></style>

